.btnn {
  border: none;
  background-color: #79bdbd;
}

.mobile-img {
  background-color: #5ba4a4;
  margin-bottom: 25px;
  overflow: hidden;
}

.main-container {
  background-color: #effafa;

}

@media (min-width: 768px) {
  .desktop-img {
    margin-bottom: 25px;
    width: 47.8rem;
    background-color: #5ba4a4;
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  .desktop-img {
    margin-bottom: 25px;
    width: 64rem;

    overflow: hidden;
  }
}


@media (min-width: 1200px) {
  .desktop-img {
    margin-bottom: 25px;
    width: 79rem;
    background-color: #5ba4a4;
 
  }
}



