.custome-container {
  width: 85%;
  background-color: white;
  border-radius: 7px;
  border-left: 5px solid #5ba4a4;
  font-family: League Spartan;
}

.btn-card {
  border: none;
  background-color: #5ba4a4;
  width: 13rem;
}

.btn-card:hover {
  opacity: 0.9;
}

.content {
  border-bottom: solid 2px rgba(128, 128, 128, 0.48);
}

.colored-text {
  color: #5ba4a4;
  margin-right: 15px;
  font-weight: 700;
}

.black-text p {
  color: black;
  font-weight: 700;
}

.new {
  background-color: #5ba4a4;
  border-radius: 20px;
  width: 60px;
  text-align: center;
  height: 30px;
  padding-top: 6px;
}

.feature {
  border-radius: 20px;
  padding: 7px;
}
.languages {
  width: 80%;
}

.languages p {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  margin-right: 20px;
}

@media (min-width: 768px) {
  .btn-card {
    width: 25rem;
  }
}

@media (min-width: 1024px) {
  .main-content {
    gap: 20rem;
  }

  .languages p {
    height: 23px;
  }

  .btn-card {
    width: 30rem;
  }
}

@media (min-width: 1200px) {
  .btn-card {
    width: 40rem;
  }
}
